language: python

sudo: false
cache: pip

python:
    - "2.7"
    - "pypy"
    - "3.3"
    - "3.4"
    - "3.5"
    - "3.6"

install:
  - pip install tox-travis
script:
  - tox

notifications:
  email: false
